{% include base_path %}

<div class="stack-section">

  <div class="stack-block stack-block--main">
    <h3 class="stack-block-title">Main</h3>

    <div class="stack-group">
      <span class="post-category-pill">Cloud Platforms</span>
      <div class="stack-icons">
        <div class="stack-icon">
          <img src="{{ base_path }}/assets/icons/azure.svg" alt="Microsoft Azure" width="38" height="38">
          <span>Azure</span>
        </div>
        <div class="stack-icon">
          <img src="{{ base_path }}/assets/icons/aws.svg" alt="AWS" width="38" height="38">
          <span>AWS</span>
        </div>
      </div>
    </div>

    <div class="stack-group">
      <span class="post-category-pill">Data Stack</span>
      <div class="stack-icons">
        <div class="stack-icon">
          <img src="{{ base_path }}/assets/icons/dbt.svg" alt="dbt" width="38" height="38">
          <span>dbt</span>
        </div>
        <div class="stack-icon">
          <img src="{{ base_path }}/assets/icons/databricks.svg" alt="Databricks" width="38" height="38">
          <span>Databricks</span>
        </div>
        <div class="stack-icon">
          <img src="{{ base_path }}/assets/icons/snowflake.svg" alt="Snowflake" width="38" height="38">
          <span>Snowflake</span>
        </div>
      </div>
    </div>

    <div class="stack-group">
      <span class="post-category-pill">Infrastructure</span>
      <div class="stack-icons">
        <div class="stack-icon">
          <img src="{{ base_path }}/assets/icons/terraform.svg" alt="Terraform" width="38" height="38">
          <span>Terraform</span>
        </div>
      </div>
    </div>
  </div>

  <div class="stack-block stack-block--frameworks">
    <h3 class="stack-block-title">Frameworks</h3>

    <div class="stack-group">
      <span class="post-category-pill">Causal &amp; Probabilistic</span>
      <div class="stack-icons">
        <div class="stack-icon">
          <img src="{{ base_path }}/assets/icons/pymc.svg" alt="PyMC" width="38" height="38">
          <span>PyMC</span>
        </div>
        <div class="stack-icon">
          <img src="{{ base_path }}/assets/icons/pymc.svg" alt="PyMC Marketing" width="38" height="38">
          <span>PyMC Marketing</span>
        </div>
        <div class="stack-icon">
          <img src="{{ base_path }}/assets/icons/google.svg" alt="Google Meridian" width="38" height="38">
          <span>Meridian</span>
        </div>
        <div class="stack-icon">
          <img src="{{ base_path }}/assets/icons/doubleml.svg" alt="DoubleML" width="38" height="38">
          <span>DoubleML</span>
        </div>
        <div class="stack-icon">
          <img src="{{ base_path }}/assets/icons/dowhy.svg" alt="DoWhy" width="38" height="38">
          <span>DoWhy</span>
        </div>
        <div class="stack-icon">
          <img src="{{ base_path }}/assets/icons/scikitlearn.svg" alt="scikit-learn" width="38" height="38">
          <span>scikit-learn</span>
        </div>
      </div>
    </div>
  </div>

</div>
